<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.party.build.rural.mapper.LoginMapper" >

    <select id="login" resultType="com.party.build.rural.entity.User"
                    parameterType="com.party.build.rural.entity.User" >
        select
          id,username,truename,photo
        from
        ws_user
        where username =#{username} and password=#{password}
    </select>


</mapper>