<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>WebSocket示例</title>
    <script type="text/javascript" src="jquery-1.8.1.min.js"></script>
    <style type="text/css">
        * {
            margin: 0 auto;
            padding: 0;
        }

        #frame {
            position: absolute;
            width: 300px;
            height: 200px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: 1px solid red;
        }

    </style>
</head>
<body>
<div id="frame">
    <form action="login" method="post">
        <div>
            <label for="username">用户名</label>
            <input name="username" id="username" type="text"><br/>
        </div>
        <div>
            <label for="pwd">密码</label>
            <input name="password" id="pwd" type="password">
        </div>
        <div>
            <input type="submit" value="登录">
            <input type="button" value="注册">
        </div>
    </form>
</div>

</body>
</html>